[Unit]
Description=ryw-web server
After=network-online.target

[Service]
User=ryanw
ExecStart=/bin/bash -c 'java -jar /usr/local/bin/ryw-web.jar'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
